<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
  <title>Freehand Drawing</title>
  <style>
    .red-button {
      bottom: 12.5em;
      right: 0.5em;
    }
    .blue-button {
      bottom: 15em;
      right: 0.5em;
    }
    .green-button {
      bottom: 17.5em;
      right: 0.5em;
    }
    .black-button {
      bottom: 10em;
      right: 0.5em;
    }
    .linestring-button {
      top: 12.5em;
      left: 0.5em;
    }
    .polygon-button {
      top: 15em;
      left: 0.5em;
    }
    .geolocation-button {
      top: 17.5em;
      left: 0.5em;
    }
    .extent-button {
      top: 10em;
      left: 0.5em;
    }
    .map {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    .form-inline {
      position: fixed;
      bottom: 30px;
      left: 20px; 
      z-index: 0;
    }
    .title {
      position: absolute;
      bottom: 60px;
      left: 20px; 
      z-index: 0;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
</head>
<body>
  <div id="map" class="map"></div>
  <div class="title">
    <b> Mappin Napkin </b> <br>
    <button id="geojsonbutton">geojson button</button>
  </div>
  <script type="module">

const view = new ol.View({
    center: [-11000000, 4600000],
    zoom: 4,
});

const geolocation = new ol.Geolocation({
  // enableHighAccuracy must be set to true to have the heading value.
  trackingOptions: {
    enableHighAccuracy: true,
  },
  tracking:true,
  projection: view.getProjection(),
});

let draw; // global so we can remove it later
var typeSelect = document.getElementById('type');
let type="None";
let stroke_color="black";
let fill_color="rgba(0, 0, 0, 0.2)"

class linestring_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "╱";
    button.id='linestringbutton';

    const element = document.createElement("div");
    element.className = "linestring-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click",  ()=>{type="LineString"}, false);
  }
}

class polygon_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "▲"
    button.id='polygonbutton';

    const element = document.createElement("div");
    element.className = "polygon-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{
      type="Polygon";
    });
}
}

class geolocation_button extends ol.control.Control { 
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "📍"
    button.id='geolocationbutton';

    const element = document.createElement("div");
    element.className = "geolocation-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{
    let coordinate=geolocation.getPosition();
    console.log(geolocation);
    view.animate({
    center: coordinate,
    zoom:17,
    duration: 2000,
    });
  });
    }
}



class extent_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "📄";
    button.id='extentbutton';

    const element = document.createElement("div");
    element.className = "extent-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{type="Extent"}, false);
  }
}

class red_color_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "🔴";
    button.id='redbutton';

    const element = document.createElement("div");
    element.className = "red-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{stroke_color="red";fill_color="rgba(255, 0, 0, 0.2)"}, false);
  }
}

class black_color_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "⚫";
    button.id='blackbutton';

    const element = document.createElement("div");
    element.className = "black-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{stroke_color="black";fill_color="rgba(0, 0, 0, 0.2)"}, false);
  }
}

class blue_color_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "🔵";
    button.id='bluebutton';

    const element = document.createElement("div");
    element.className = "blue-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{stroke_color="blue";fill_color="rgba(0, 0, 255, 0.3)"}, false);
  }
}

class green_color_button extends ol.control.Control {
  /**
   * @param {Object} [opt_options] Control options.
   */
   constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement("button");
    button.innerHTML = "🟢";
    button.id='greenbutton';

    const element = document.createElement("div");
    element.className = "green-button ol-unselectable ol-control";
    element.appendChild(button);

    super({
      element: element,
      target: options.target
    });

    button.addEventListener("click", ()=>{stroke_color="green";fill_color="rgba(0, 255, 0, 0.3)"}, false);
  }
}


//🔴⚫🔵🟢


const source = new ol.source.Vector({wrapX: true});
const source_extent = new ol.source.Vector({wrapX: true});

const extent = new ol.layer.VectorImage({
  source: source_extent,
  opacity:0.75,
});


const canvas = document.createElement('canvas');
const context = canvas.getContext('2d');

var extent_img = new Image();
extent_img.src = 'https://st2.depositphotos.com/3769671/7957/v/600/depositphotos_79574646-stock-illustration-paper-texture-template.jpg'; // your image here
extent_img.onload = function() {
  var extent_pattern = context.createPattern(extent_img, 'repeat');

  extent.setStyle(new ol.style.Style({
   fill: new ol.style.Fill({
     color: extent_pattern
   }),
   stroke: new ol.style.Stroke({
    color: 'rgba(255,255,255,0)'
  }),
   zIndex:1,

 }));
}

const attributions =
'<a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a><br><a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>';


const raster = new ol.layer.Tile({
  source: new ol.source.XYZ({
    attributions: attributions,
    url:
    'https://services.digitalglobe.com/earthservice/tmsaccess/tms/1.0.0/DigitalGlobe:ImageryTileService@EPSG:3857@jpg/{z}/{x}/{y}.jpg?connectId=c2cbd3f2-003a-46ec-9e46-26a3996d6484&flipy=true',
    maxZoom: 20,
  })
});


const vector = new ol.layer.VectorImage({
  source: source,
  style: function (feature) {
    return new ol.style.Style({
      zIndex:20,
      fill: new ol.style.Fill({
        color: getColor(feature),
      }),
      stroke: new ol.style.Stroke({
        color: getColor(feature),
        width: getStrokeWidth(feature)
      }),
    })
  }
});


const map = new ol.Map({
  controls: ol.control.defaults().extend([
    new linestring_button(),
    new extent_button(),
    new polygon_button(),
    new red_color_button,
    new black_color_button,
    new blue_color_button,
    new green_color_button,
    new geolocation_button,
    ]),
  layers: [raster,extent,vector],
  target: 'map',
  view: view,
});

function getColor(feature) {
  return feature.get('color');
}

function getStrokeWidth(feature) {
  switch (feature.get('type')) {
case 'LineString':
return 1;
break;

case 'Polygon':
return null;
break;

  }
}

addInteraction();

function addInteraction() {
  const value = type; //typeSelect.value;
  switch (value){
    case 'None':
    break;

    case 'Extent':
    draw = new ol.interaction.Draw({
      source: source_extent,
      type: 'Circle',
      geometryFunction:ol.interaction.Draw.createBox(),
      freehand: false,
    });
   // draw end set properties test
   //drawend event
   draw.on('drawend', function(e) {
    e.feature.setProperties({
      'type': 'Extent'
    })
    console.log(e.feature, e.feature.getProperties());
    map.removeInteraction(draw);
  });

  //add draw to map
  map.addInteraction(draw);
  break;

  case 'LineString':
  draw = new ol.interaction.Draw({
    source: source,
    type: type,
    freehand: true,
  });
  map.addInteraction(draw);

    //drawend event
    draw.on('drawend', function(e) {
      e.feature.setProperties({
        'color': stroke_color,
        'type': type
      })
      console.log(e.feature, e.feature.getProperties());
    });
    break;

    case 'Polygon':
  draw = new ol.interaction.Draw({
    source: source,
    type: type,
    freehand: true,
  });
  map.addInteraction(draw);

    //drawend event
    draw.on('drawend', function(e) {
      e.feature.setProperties({
        'color': fill_color,
        'type': type
      })
      console.log(e.feature, e.feature.getProperties());
    });
    break;
  }
  
}

/**
 * Handle change event.
 */
 extentbutton.onclick=function() {
  map.removeInteraction(draw);
  addInteraction();
};

linestringbutton.onclick=function() {
  map.removeInteraction(draw);
  addInteraction();
};

polygonbutton.onclick=function() {
  map.removeInteraction(draw);
  addInteraction();
};

geojsonbutton.onclick=function() {
  var writer = new ol.format.GeoJSON({featureProjection:'EPSG:3857'});
  var geojsonStr = writer.writeFeatures(source.getFeatures().concat(source_extent.getFeatures()));
  console.log(source.getFeatures().concat(source_extent.getFeatures()));
  download_geojson(geojsonStr);

};

function download_geojson(geojsonStr) {
  var a = document.createElement("a");
  var file = new Blob([geojsonStr], {type: "application/json"});
  a.href = URL.createObjectURL(file);
  a.download = "geojson";
  a.click();
}

</script>
</body>
</html>
